<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>Risultati Inseriti</title>
</head>
<body>
  <h1>Risultati Inseriti</h1>
  <table border="1">
    <tr>
      <th>Giocatore</th>
      <th>Pilota</th>
      <th>Punti</th>
      <th>Posizione Finale</th>
      <th>Griglia</th>
      <th>Sprint</th>
    </tr>
    {% for r in risultati %}
    <tr>
      <td>{{ r.giocatore }}</td>
      <td>{{ r.pilota }}</td>
      <td>{{ r.punti }}</td>
      <td>{{ r.posizione }}</td>
      <td>{{ r.griglia }}</td>
      <td>{{ r.sprint }}</td>
    </tr>
    {% endfor %}
  </table>
  <br>
  <a href="{{ url_for('index') }}">Torna alla classifica</a>
</body>
</html>
